#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -Dprofile=release

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
